.suggestion_wrapper {
  .suggestion_header {
    display: flex;
    justify-content: space-between;
    margin-top: 18px;
    padding-bottom: 8px;
    font-size: 14px;

    span {
      font-size: 14px;
      color: #8e8e8e;
      font-weight: 600;
    }

    a {
      font-size: 12px;
      font-weight: 600;
      color: black;
      cursor: pointer;
      text-decoration: none;
    }
  }

  .suggestion_content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 0;

    .image_container {
      display: flex;
      align-items: center;

      img {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        cursor: pointer;
      }
    }

    .suggestion_account {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin-left: 10px;

      div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        a {
          margin-bottom: 4px;
          color: black;
          font-size: 14px;
          font-weight: 600;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }

        span {
          font-size: 12px;
          color: #8e8e8e;
        }
      }
      button {
        width: 32px;
        padding: 0px;
        background-color: #fafafa;
        color: #0095f6;
        text-align: right;
        font-size: 12px;
        font-weight: 600;
        border: none;
        cursor: pointer;
      }
    }
  }
}
