@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.main-seungkyun {
  padding-top: 54px;
  background-color: #fafafa;

  .bodyContainer {
    display: flex;
    justify-content: center;
    width: 935px;
    margin: 0 auto;
    padding-top: 50px;
  }
}
