@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.main-seungkyun {
  padding-top: 54px;
  background-color: #fafafa;

  .bodyContainer {
    display: flex;
    justify-content: center;
    width: 935px;
    margin: 0 auto;
    padding-top: 50px;

    .feedWrapper {
      .feeds {
        width: 614px;
        margin-right: 28px;
        margin-bottom: 24px;
        background-color: white;
        border: 1px solid #dbdbdb;

        .feedHeader {
          display: flex;
          align-items: center;
          width: 614px;
          height: 60px;
          padding: 16px;
          border-bottom: 1px solid #dbdbdb;

          img {
            width: 32px;
            height: 32px;
            border-radius: 50%;
          }

          .feedHeaderInside {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 536px;
            height: 26px;

            .accountName {
              margin-left: 14px;
              font-weight: bold;
              font-size: 14px;
              text-decoration: none;
              color: black;
            }

            button {
              width: 16px;
              height: 16px;
              background-color: white;
              border: none;
              cursor: pointer;

              .fa-ellipsis-h {
                color: black;
                font-size: 15px;
              }
            }
          }
        }
      }
      .feedImage {
        width: 100%;
        margin: 0;
        padding: 0;
      }

      .iconsContainer {
        display: flex;
        justify-content: space-between;
        width: 614px;
        margin: -4px 0 4px;
        padding: 0 16px;

        button {
          width: 40px;
          height: 40px;
          padding: 8px;
          background-color: white;
          border: none;
          cursor: pointer;

          .fa-heart,
          .fa-comment,
          .fa-paper-plane,
          .fa-bookmark {
            font-size: 24px;
          }
        }
      }

      .likePersonContainer {
        padding: 0 16px;
        margin-bottom: 2px;

        .likeBySomeone {
          display: flex;
          justify-content: flex-start;

          .likePersonPic {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            cursor: pointer;
          }

          .likePersonText {
            display: flex;
            align-items: center;
            height: 20px;
            font-size: 14px;

            a {
              font-weight: 600;

              cursor: pointer;

              &:first-of-type {
                padding-left: 5px;

                &:hover {
                  text-decoration: underline;
                }
              }
            }
          }
        }
      }

      .commentContainer {
        padding: 0 16px;
        font-size: 14px;
        word-wrap: break-word;
        word-break: break-all;

        .picText div:first-child {
          margin-bottom: 4px;
        }

        a {
          color: black;
          text-decoration: none;
          font-weight: 600;

          &:hover {
            text-decoration: underline;
          }
        }

        span {
          margin-left: 5px;
        }

        .commentLines {
          display: flex;
          justify-content: space-between;
          align-items: center;

          div {
            margin-bottom: 2px;
          }
        }

        .commentHeart {
          width: 12px;
          height: 12px;
        }
      }

      .days {
        display: inline-block;
        padding-left: 16px;
        font-size: 10px;
        color: rgb(142, 142, 142);
      }

      .makeCommentContainer {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 56px;
        margin-top: 4px;
        padding: 0 16px 0 10px;
        border-top: 1px solid #dbdbdb;

        button {
          padding: 0px;
          width: 40px;
          height: 40px;
          background-color: white;
          opacity: 0.5;
          border: none;
        }

        .fa-smile {
          font-size: 24px;
        }

        .uploadComment {
          font-size: 14px;
          color: #0095f6;
          padding-left: 2px;
        }

        .active {
          opacity: 1;
          cursor: pointer;
        }

        .commentField {
          width: 90%;
          height: 18px;
          background-color: white;
          border: none;
          font-size: 14px;
          resize: none;

          &:focus {
            outline: none;
          }
        }
      }
    }
  }
}
