.footer_list {
  display: inline-block;

  &::after {
    content: '\00B7';
    margin: 0 0.25em 0 0.25em;
  }

  &:last-child::after {
    content: none;
  }

  a {
    text-decoration: none;
    color: #c7c7c7;
    cursor: pointer;
  }
}
